<h1>Welcome!</h1>
<p>O idioma utilizado nesta aplicação é: <strong><%=locale%></strong></p>
<%=(Date.today)%>
<p><%=I18n.t('hello')%></p>
<%= render "menu" %>

<p>Você está em ambiente de <strong><%=ambiente_rails%></strong></p>
<p>eu sou uma variavel de instancia <strong><%=@meu_nome%></strong></p>
<p>Meu curso é de <strong><%=@curso%></strong></p>